@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');

.books > h1 {
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    /* background-color: yellow; */
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    margin-bottom: 70px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content > img {
    object-fit: fill;
    cursor: pointer;
    width: 250px;
    height: 300px;
}

.content > span {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 10px;
}