.books {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    padding: 5rem 1rem;
    align-items: center;
    justify-content: center;
}

.content > img {
    cursor: pointer;
    width: 250px;
    height: 200px;
}

.content > span {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    /* font-weight: bold; */
}